
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f1f1f1;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(154, 154, 154);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track {
    background-color: #dddddd40;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #ddd;
    border-radius: 0px;
  }
  